@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --primary-color: #14455D;
  --secondary-color: #A5CAD2;
  --accent1-color: #F46B6B;
  --accent2-color: #C8D85D;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
}

/* For everything in WDD230 */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* For the profile image box and name */
.side-box {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  max-width: 760px;
  margin: 0 auto;
  padding: 20px;
}

/* For the profile img and name */
.side-box img {
  border-radius: 9%;
  width: 85px;
  height: 85px;
  object-fit: cover;
  margin-left: 170px;
}

/* For my name */
.side-box .name {
  font-size: 15px;
  margin-left: 10px;
}

/* For Home, Site Plan, Chamber, Byu-Idaho, Scripture text */
header {
  text-align: center;
  background-color: black;
  max-width: 760px;
  margin: 0 auto;
  padding: 20px;
}

/* For navigation links */
.navigation a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 7px;
  padding: 5px;
  text-align: center;
}

/* For WDD 230: Web Frontend Development TEXT */
main h2 {
  color: #333;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}

/* For weather information, Page Visits, etc. TEXT */
.card p {
  text-align: center;
}

/* For learning activities whole... */
.card h3 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin-top: 1px;
  background-color: var(--primary-color);
  padding: 10px;
}

/* For doly layout/ jspen... TEXT */
.card.learning-activities-box li a {
  color: blue;
  text-decoration: underline;
  text-align-last: left;
}

/* Learning activities text */
.learning-activities-box h3 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #fff;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 17px;
}

/* For learning activities and information BOXES */
.section-box {
  margin-bottom: 10px;
  border: 1px solid #c8d4e0;
  border-radius: 2px;
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  bottom: 0;
  max-width: 760px;
  margin: 0 auto;
  padding: 20px;
}

footer p:first-child {
  font-size: 14px;
  margin-top: 1px;
}

#lastModified {
  font-size: 12px;
  margin-bottom: 1px;
}

@media only screen and (max-width: 600px) {
  main {
    padding: 10px;
  }
}
